<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!--web.xml中shiro对应的bean-->
    <!--shiro的web过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--loginUrl认证地址,如果没有认证将会请求地址进行认证,请求此地址将由formAuthenticationFilter进行表单验证-->
        <property name="loginUrl" value="/login"/>
        <!--登录成功跳转页面  不配置的话 默认返回登录前页面-->
        <property name="successUrl" value="/"/>
        <!--没有权限时跳转页面-->
        <property name="unauthorizedUrl" value="/refuse.jsp"/>
        <!--自定义filter-->
        <property name="filters">
            <map>
                <!-- 将自定义的FormAuthenticationFilter注入shiroFiler中 -->
                <entry key="myauthc" value-ref="formAuthenticationFilter" />
            </map>
        </property>
        <!--过滤连定义, 从上往下顺序执行,一般将/**放在最下面-->
        <property name="filterChainDefinitions">
            <value>
                /login = myauthc
                /register.jsp = anon
                /register = anon
                /captcha.jsp = anon
                / = user
                /index.jsp = user
                /logout = logout
                /** = authc
            </value>
        </property>
    </bean>

    <!--自定义form认证过滤器-->
    <bean id="formAuthenticationFilter" class="com.ou.shiro.reaml.MyFormAuthenticationFilter" />

    <!--securityManage-->
    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--注入自定义realm-->
        <property name="realm" ref="customRealm" />
        <!--记住我-->
        <property name="rememberMeManager" ref="rememberMeManager" />
        <!--会话管理器-->
        <property name="sessionManager" ref="sessionManager"/>
        <!--缓存管理器-->
        <!--<property name="cacheManager" ref="cacheManager" />-->
    </bean>

    <!--自定义realm-->
    <bean id="customRealm" class="com.ou.shiro.reaml.MyRealm">
        <!--将凭证匹配器设置到realm中，realm按照凭证匹配器要求进行散列-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <!-- 凭证匹配器 -->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5" />
        <property name="hashIterations" value="2" />
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- session的失效时长，单位毫秒 -->
        <property name="globalSessionTimeout" value="60000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <!-- rememberMeManager -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie" />
    </bean>
    <!-- 记住我cookie -->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!--rememberMe时cookie的名字-->
        <property name="name" value="rememberMe" />
        <!-- 记住我cookie生效时间120秒 -->
        <property name="maxAge" value="120" />
    </bean>

    <!-- 缓存管理器 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>